/* div {
    border: 1px dashed red;
} */

.result {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.image-block {
  /* width: 200px; */
  margin: 20px;
}
  
.image {
    display: block;
    /* width: 200px;
    height: 150px; */
  }